<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>
    
    <!--FAVICONS -->
    <link rel="shortcut icon" href="/images/icons/favicon.ico">
	<link rel="apple-touch-icon" sizes="57x57" href="/images/icons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/images/icons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/images/icons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/images/icons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/images/icons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/images/icons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/images/icons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/images/icons/apple-touch-icon-152x152.png">
	<link rel="icon" type="image/png" href="/images/icons/favicon-196x196.png" sizes="196x196">
	<link rel="icon" type="image/png" href="/images/icons/favicon-160x160.png" sizes="160x160">
	<link rel="icon" type="image/png" href="/images/icons/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/images/icons/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="/images/icons/favicon-32x32.png" sizes="32x32">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="/images/icons/mstile-144x144.png">
	<meta name="msapplication-config" content="/images/icons/browserconfig.xml">
    
    <%= stylesheet_link_tag "normalize", "all", "__bootstrap.min" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>


	<link href='http://fonts.googleapis.com/css?family=Cutive' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>

    <%= javascript_include_tag  "all"%>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body class="<%= page_classes %>">
    <!-- ADD CONTENT HERE -->
    
    <!-- Grid -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	    <div class="container navContainer">
			<div class="row nav navbar-header navbar-fixed-top">
				<div class="col-xs-2 navLogo">
					<a href="index.html" class="logoLink">
						<img src="../images/big-os-logo.svg" alt="Big O Logo" class="logo" onerror="this.src=../images/big-os-logo.png">
							
							<!--<object type="image/svg+xml" data="../images/big-os-logo.svg" class="logo">
							</object>-->
					</a>
				</div>
				
				<div class="navUIButtonContainer col-xs-offset-4 col-xs-6 hidden">
					<nav class="navUIButton">
						<a class="navicon-button x">
							<div class="navicon"></div>
						</a>
					</nav>
					<!--
<svg class="navUIButton" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						width="44px" height="25px" viewBox="0 0 44 25" enable-background="new 0 0 44 25" xml:space="preserve">
						<rect x="0" width="44" height="5"/>
						<rect x="0" y="10" width="44" height="5"/>
						<rect x="0" y="20" width="44" height="5"/>
					</svg>
-->
				</div>
				
				<div class="col-xs-offset-2 col-xs-8 navLinks">
					<ul>
						<li>
							<a href="markets.html" class="marketsLink navLink">markets</a>
						</li>
						<li>
							<a href="menu.html" class="menuLink navLink">menu</a>
						</li>
						<li>
							<a href="catering.html" class="cateringLink navLink">catering</a>
						</li>
						<li>
							<a href="story.html" class="storyLink navLink">story</a>
						</li>
						<li>
							<a href="contact.html" class="contactLink navLink">contact</a>
						</li>
						
					</ul>
				</div>
	
				
			</div>
		  	
	  	</div>
    </nav>
    <div class="mobileNav hidden container">
    	<div class="mobileNavLinks row">
			<ul>
				<li>
					<a href="markets.html" class="marketsLink navLink">markets</a>
				</li>
				<li>
					<a href="menu.html" class="menuLink navLink">menu</a>
				</li>
				<li>
					<a href="catering.html" class="cateringLink navLink">catering</a>
				</li>
				<li>
					<a href="story.html" class="storyLink navLink">story</a>
				</li>
				<li>
					<a href="contact.html" class="contactLink navLink">contact</a>
				</li>
				
			</ul>
		</div>
    </div>
    
    <%= yield %>
    
	<div class="backgroundImage backgroundImageFooter">
		<div class="container">
				<div class="footer">
					<h4>&copy;Big O's Wood Fired Pizza
						<br>
						<br>
					</h4>
					<p class="mono cushycms">Owen Morehart
						<br>
						<a href="mailto:owen.morehart@bigopizza.biz?Subject=Contacting%20Big%20O's%20Pizza" target="_top">owen.morehart@bigopizza.biz</a>
						<br>
						<a href="tel:5035475683">503.547.5683</a>
					</p>
				</div>
		</div>
	  	
	</div>

    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- 	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="javascripts/bootstrap.min.js"></script>
  </body>
</html>